# Node modules
node_modules/

# Python virtual environment
venv/
backend/venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store

# Models and data
*.pkl
*.db
backend/esg_data.db
backend/iso_forest.pkl
backend/rf_model.pkl
backend/scaler.pkl
